<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
    <title>Edit dis yo</title>
</head>
<body>
        <div class="container">
                <div class="row">
                        <div class="col-sm">
                            <h6>Edit a job cuh</h6>
                        </div>
                        <div class="col-sm">
                        </div>
                        <div class="col-sm">
                            <p><a href="/login">Back</a> | <a href="/logout">Log Out</a></p>
                        </div>
                    </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
                <form action="/editprocess/{{job.id}}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="text" name="title" class="form-control" id="exampleFormControlInput1" value="{{job.name}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Location</label>
                        <input type="text" name="loc" class="form-control" id="exampleFormControlInput1" value="{{job.location}}">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" name="desc" id="exampleFormControlTextarea1" rows="3">{{job.desc}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
        
            </div>
</body>
</html>